<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sarang Nagpal</title>
    <link rel="stylesheet" href="Sarang-Nagpal/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="Sarang-Nagpal/assets/fonts/ionicons.min.css">
    <link rel="icon" href="Sarang-Nagpal/assets/person-fill.svg">
    <style>
        body {
            margin-top: 50px;
        }

        h4 a {
            text-decoration: none;
            color: white;
        }

        a {
            text-decoration: none;
        }

        .portfolio-block {
            padding: 0;
        }

        #hobbies-group h2,
        #hobbies-group div {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <main class="page cv-page">
        <section class="portfolio-block block-intro border-bottom">
            <div class="container">
                <div class="avatar"
                    style="background-image:url(&quot;Sarang-Nagpal/assets/img/avatars/sarang.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>Sarang Nagpal</strong>. I am a Web Developement and Machine Learning
                        Enthusiast. I like to design easy to use interfaces and complex backend systems.</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block cv">
            <div class="container">
                <section class="portfolio-block project-no-images">
                    <div class="container">
                        <div class="heading">
                            <h2>My Projects&nbsp;</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="project-card-no-image">
                                    <h3>NeuroEvolution</h3>
                                    <h4>A NeuroEvolution driven self learning version of classic game Flappy Bird</h4><a
                                        class="btn btn-outline-primary btn-sm" role="button" href="flappy/index.html"
                                        target="_blank">See More</a>
                                    <div class="tags">JavaScript</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="project-card-no-image">
                                    <h3>Money Manager</h3>
                                    <h4>A useful Full stack web application that helps you manage your money</h4><a
                                        class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                                    <div class="tags">Node.js</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="project-card-no-image">
                                    <h3>Personal Website</h3>
                                    <h4>A professional looking web page made with Bootstrap</h4><a
                                        class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                                    <div class="tags">Bootstrap + CSS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Experience -->
                <section>
                    <div class="container">
                        <div class="heading">
                            <h2>Experience&nbsp;</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="project-card-no-image">
                                    <h3>Amazon</h3>
                                    <h4>Software Developement Engineer Intern at Amazon</h4>
                                    <!-- <a class="btn btn-outline-primary btn-sm" role="button" href="#">Upcoming</a> -->
                                    <div class="tags">MAY - July 2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>B.Tech in Electronics and Communication Engineering</h3>
                                <h4 class="organization"><a href="https://nitw.ac.in" target="_blank">National Institute
                                        of Technology, Warangal</a></h4>
                            </div>
                            <div class="col-md-3"><span class="period">2019 - 2023</span></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Intermediate Education</h3>
                                <h4 class="organization">Velociity Junior College</h4>
                            </div>
                            <div class="col-6"><span class="period">2017 - 2019</span></div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <h3>Web Developement</h3>
                                <p class="text-muted">React, Nodejs, Express, GraphQL</p>

                                <h3>Programming Languages</h3>
                                <p class="text-muted">C++, Python</p>

                                <h3>Machine Learning</h3>
                                <p class="text-muted">Neural Networks and Deep Learning</p>

                                <h3>DataBases</h3>
                                <p class="text-muted">MongoDB, MySQL</p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone"></i></div>
                                    <div class="col-9"><a href="tel:+919767853304">+91 9767853304</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at"></i></div>
                                    <div class="col-9"><a
                                            href="mailto:sarangnagpal0@gmail.com">sarangnagpla0@gmail.com</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-social-linkedin"></i></div>
                                    <div class="col-9"><a href="https://linkedin.com/in/sarangnagpal01"
                                            target="_blank">Sarang Nagpal</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-social-github"></i></div>
                                    <div class="col-9"><a href="https://github.com/crudybagger"
                                            target="_blank">crudybagger</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hobbies group" id="hobbies-group">
                    <div class="heading">
                        <h2 class="text-center">Hobbies</h2>
                    </div>
                    <p class="text-center text-muted">I like to swim and Code. Seprately ofcourse</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="social-icons"><a href="https://www.linkedin.com/in/sarangnagpal01/" target="_blank"><i
                        class="icon ion-social-linkedin"></i></a><a href="https://www.github.com/crudybagger/"
                    target="_blank""><i class=" icon ion-social-github"></i></a></div>
        </div>
    </footer>
    <script src="Sarang-Nagpal/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
</body>

</html>